.yellow-bg-text {
    background-color: #e6b745;
    padding-top: 45px;
    padding-bottom: 45px;
}

.black-bg-text {
    background-color: #1a1512;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
    /* font-family: 'Conv_gilroy-extrabold'; */
    font-family: 'Montserrat', sans-serif !important;
}

.ISKCONgallery {

    background-image: url(../Assets/images/bglast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.donateLink {
    text-decoration: none;
    position: fixed;
    background: #fd6c11;
    color: #fff;
    padding: 9px 15px 9px 15px;
    font-size: 13px;
    border-radius: 2px;
    right: 35px;
    /* left: 35px; */
    bottom: 5px;
    border-radius: 30px;
}

.donateLink a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

